//  rem 计算方法
@function rem($px)
    $rem: 75px
    @return ($px / $rem)+rem
.top
  width: 100%
  //min-height: rem(172px)
  background-image: linear-gradient(184deg, 	#ff5c0b 0%, 	#ff4848 100%) ,linear-gradient(#7bb62d,	#7bb62d)
.disflex
  display: flex
.no_show
  width: 80vw
  height: 100vh
  text-align: center
  line-height: 100px
  font-size: rem(25px)
  color: #666


.workspace
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  word-break: break-all
.tab_show:after
  display: block
  content: ""
  width: rem(194px)
  height: 0
  background: none



